<div id="<%= dom_id phone %>">
  <p>
    <strong>Phone number:</strong>
    <%= phone.phone_number %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= phone.comment %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= phone.person_id %>
  </p>

</div>
