<div id="<%= dom_id email %>">
  <p>
    <strong>Email address:</strong>
    <%= email.email_address %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= email.comment %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= email.person_id %>
  </p>

</div>
